//Colors
@basic_white:  #ffffff;
@light_white: #ffffffB3;
@basic_black: #000000;
@black:#111111;
@basic_green: #68b738;
@basic_green-2: #5eaa2f;
@special_green-1: rgba(104, 183, 56, 0.85);
@basic_grey: #f2f2f2;
@special_grey: #cdcdcd;
@special_grey-2:  #ebebeb;
@special_grey-4: #fdefef;
@special_grey-3: #666666;
@special_grey-5: #eaeaea;
@special_grey-6: #d9d9d9;
@special_grey-7: #e7e7e7;
@special_grey-8: #e6e6e6;
@special_grey-9:#D3D3D3;
@special_grey-10:#bababa;
@special_grey-11:  #ebebebB3;
@special_dark-grey: #444444;
@special_dark-grey-2: #222222;
@status_error: #ff8282;

//fonts
@font-Oswald: "Oswald", "Arial", sans-serif;
@font-Arial: "Arial", "Geneva", sans-serif;

//viewports
@tablet-width: 768px;
@desktop-width: 1024px;
@mobile-width-only: 767px;
