.addition__wrapper {
  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.addition__list {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;

  @media (min-width: @desktop-width) {
    margin-right: 20px;
    width: 70%;
    margin-right: 80px;
  }
}

.addition__item {
  border-top: 1px solid @special_grey-2;
  padding: 13px 0 19px;

  &:last-child {
    border-bottom: 1px solid @special_grey-2;
  }
}

.addition__subtitle {
  margin-top: 0;
  margin-bottom: 36px;
}
