.button {
  display: inline-block;
  padding: 7px 20px;
  background-color: @basic_green;
  color: @basic_white;
  text-transform: uppercase;
  border: none;
  transition: 0.5s;

  &:hover {
    background-color: @basic_green-2;
  }

  &:active {
    color: @light_white;
    background-color: @basic_green-2;
  }

  &--gray {
    font-family: @font-Oswald;
    font-size: 16px;
    line-height: 1.25;
    color: @special_dark-grey;
    width: 100%;
    background-color: @basic_grey;
    text-align: center;

    &:hover {
      background-color: @special_grey-2;
    }

    &:active {
      color: @special_grey-11;
      background-color: @special_grey-2;
    }
  }
}
