.button {
  display: block;
  width: 280px;
  height: 40px;
  background-color: @basic_green;
  color: @basic_white;
  text-transform: uppercase;
}

.button:hover {
  background-color: @basic_green-2;
}

.button:active {
  background-color: @basic_green-2;
}
