.catalog__container {
  padding: 0;

  @media (min-width: @tablet-width) {
    padding: 0 20px;
  }
}

.catalog__title {
  line-height: 1;
  margin-top: 0;
  margin-bottom: 40px;
  text-align: left;
  padding: 0 20px;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 60px;
    column-gap: 80px;
  }
}
