.cooperation {
  background-color: @basic_grey;

  &--index {
    background-color: @basic_white;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    background-color: @basic_white;
  }
}

.cooperation__wrapper {
  padding-top: 26px;
  padding-bottom: 26px;
  display: flex;

  @media (min-width: @tablet-width) {
    padding: 56px 40px;
  }

  @media (min-width: @desktop-width) {
    background-color: @basic_white;
    position: absolute;
    padding: 56px 80px;
    width: 565px;
    top: 95px;
    left: 110px;
  }
}

.cooperation__text {
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: @black;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 1.3;
    text-align: left;
    width: 170px;
  }
}

.cooperation__address {
  font-family: @font-Arial;
  font-style: normal;
  line-height: 1.4;
  margin-left: 10px;

  @media (min-width: @tablet-width) {
    margin-left: auto;
  }
}

.cooperation__address span {
  @media (min-width: @tablet-width) {
    display: block;
    margin-top: 10px;
  }
}

.cooperation__map {
  width: 100%;
  height: 362px;
  display: block;
  border: none;
  background-image: url("/img/map.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("/img/map@2x.jpg");
  }

  @media (min-width: @tablet-width) {
    background-image: url("/img/map-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("/img/map-tablet@2x.jpg");
    }
  }

  @media (min-width: @desktop-width) {
    background-image: url("/img/map-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("/img/map-desktop@2x.jpg");
    }
  }
}
