.copyrights {
  display: flex;
  padding-top: 22px;

  @media (min-width: @tablet-width) {
    padding-top: 0;
  }
}

.copyrights__name {
  margin-right: auto;
  align-self: center;

  @media (min-width: @tablet-width) {
    margin-right: 22px;
  }
}
