.example {
  background-color: @special_grey-5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.example__wrapper {
  padding: 0 20px;
}

.example__text {
  font-family: @font-Arial;
}

.example__name {
  font-family: @font-Arial;
  font-size: 12px;
  line-height: 1;
  color: @special_dark-grey;
}

.example__result {
  font-size: 24px;
  line-height: 1;
}

.example__cost {
  line-height: 1.4;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .example__wrapper {
    padding: 0 30px;
  }

  .example__text {
    font-size: 16px;
  }
}

@media (min-width: @desktop-width) {
  .example__wrapper {
    padding: 0 110px;
  }
}
