.example {
  background-color: @special_grey-5;
}

.example__inner {
  padding: 25px 0 40px;
}

.example__title {
  text-align: left;
  margin-top: 0;
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    margin-top: 43px;
    margin-bottom: 63px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 75px;
  }
}

.example__text {
  font-family: @font-Arial;
  font-size: 14px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
  }
}

.example__box {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
    justify-content: stretch;
  }
}

.example__list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 34px;
  display: flex;
  justify-content: space-between;

  @media (min-width: @desktop-width) {
    justify-content: flex-start;
  }
}

.example__item {
  position: relative;

  @media (min-width: @tablet-width) {
    &:first-of-type {
      margin-right: 40px;
    }
  }
}

.example__result {
  font-size: 24px;
  line-height: 1;
  padding: 14px 0;
  margin: 0;
  width: 124px;
  text-align: center;
  border: 1px solid @special_grey;
  border-radius: 3px;
}

.example__name {
  font-family: @font-Arial;
  font-size: 12px;
  line-height: 1;
  color: @special_dark-grey;
  position: absolute;
  bottom: -15px;
  right: 23px;
  width: 80px;
  text-align: center;
  margin: 0;
  background-color: @special_grey-5;
}

.example__cost {
  line-height: 1.4;
  text-transform: uppercase;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 40px;

  @media (min-width: @desktop-width) {
    text-align: start;
  }
}

.example__switch {
  text-align: center;
}
