.form__name {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.form__field {
  font-family: @font-Oswald;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;//цвет
}

.form__required {
  font-family: @font-Arial;
  font-size: 16px;
  line-height: 1;
  color: @basic_black;
}
