.form__wrapper {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.form__box--cat {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 10px;
  margin-bottom: 16px;

  @media (min-width: @tablet-width) {
    row-gap: 20px;
    margin-bottom: 62px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1/2;
  }
}

.form__box--type {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 10px;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid @special_grey-6;
  border-bottom: 1px solid @special_grey-6;

  @media (min-width: @tablet-width) {
    row-gap: 20px;
    border: 1px solid @special_grey-7;
  }
}

.form__box--contacts {
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 10px;

  @media (min-width: @tablet-width) {
    row-gap: 20px;
  }

  @media (min-width: @desktop-width) {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
  }
}

.form__box--comment {
  display: flex;
  flex-direction: column;
}

.form__box--add {
  display: grid;

  @media (min-width: @tablet-width) {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: @desktop-width) {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
  }
}

.form__subtitle {
  margin-top: 20px;
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    grid-column: 1/3;
    margin-top: 60px;
    margin-bottom: 50px;
  }
}

.form__label--dark {
  color: @basic_black;
  margin-bottom: 13px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 32px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 60px;
  }
}

.form__name {
  font-size: 16px;
  line-height: 1.1;
  text-transform: uppercase;
}

.form__field {
  padding: 13px 16px;
  width: auto;
  font-family: @font-Oswald;
  font-size: 16px;
  line-height: 1.1;
  text-transform: uppercase;
  border: 1px solid @special_grey-7;

  &:hover {
    border: 1px solid @special_grey;
  }

  &:focus {
    border: 2px solid @special_dark-grey;
  }
}

.form__button {
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    width: 282px;
    height: 52px;
    margin-right: 60px;
  }

  @media (min-width: @desktop-width) {
    width: 568px;
    height: 52px;
    margin-right: 80px;
  }
}

.form__required {
  font-family: @font-Arial;
  font-size: 14px;
  line-height: 1.1;
  color: @basic_black;
  display: block;
  text-align: center;

  @media (min-width: @tablet-width) {
    display: inline;
  }
}
