.form__wrapper {
  @media (min-width: @tablet-width) {
    margin-bottom: 75px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.form__box {
  display: grid;

  &--cat {
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 10px;
    margin-bottom: 16px;

    @media (min-width: @tablet-width) {
      row-gap: 20px;
      margin-bottom: 62px;
    }

    @media (min-width: @desktop-width) {
      grid-column: 1/2;
      margin-bottom: 0;
    }
  }

  &--type {
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 10px;
    margin-top: 27px;
    margin-bottom: 27px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid @special_grey-6;
    border-bottom: 1px solid @special_grey-6;

    @media (min-width: @tablet-width) {
      row-gap: 20px;
      border: 1px solid @special_grey-7;
      padding: 25px 0 25px 28px;
    }

    @media (min-width: @desktop-width) {
      margin: 0;
    }
  }

  &--contacts {
    grid-template-rows: 1fr 1fr;
    row-gap: 10px;
    margin-bottom: 23px;

    @media (min-width: @tablet-width) {
      row-gap: 20px;
      margin-bottom: 65px;
    }

    @media (min-width: @desktop-width) {
      grid-template-rows: 1fr;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &--comment {
    display: flex;
    flex-direction: column;
  }

  &--add {
    grid-template-rows: 1fr 1fr 1fr;

    @media (min-width: @tablet-width) {
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: @desktop-width) {
      grid-template-rows: 1fr;
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.form__subtitle {
  margin-top: 0;

  @media (min-width: @tablet-width) {
    grid-column: 1/3;
    margin-top: 0;
    margin-bottom: 50px;
  }
}

.form__label {
  display: flex;
  align-items: center;

  &--contact {
    position: relative;
  }

  &--dark {
    color: @basic_black;
    margin-bottom: 13px;

    @media (min-width: @tablet-width) {
      font-size: 20px;
      line-height: 1.5;
      margin-bottom: 32px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 60px;
    }
  }
}

.form__radio {
  position: absolute;
  // -webkit-appearance: none;
  appearance: none;
}

.form__radio-btn {
  // position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid @special_grey;
  border-radius: 50%;
  margin-right: 15px;

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }
}


.form__radio:checked + .form__radio-btn {
  box-shadow: inset 0 0 0 8px @basic_white;
  background-color: @basic_green;

  @media (min-width: @tablet-width) {
    box-shadow: inset 0 0 0 10px @basic_white;
  }
}

.form__radio:disabled + .form__radio-btn,
.form__radio:disabled ~ .form__name {
  opacity: 0.3;
}

.form__name {
  font-size: 16px;
  line-height: 1.1;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 1.5;
  }
}

.form__field {
  flex-grow: 1;
  padding: 13px 0 16px 15px;
  margin-left: 13px;
  font-family: @font-Oswald;
  font-size: 16px;
  line-height: 1.1;
  text-transform: uppercase;
  border: 1px solid @special_grey-7;
  background-repeat: no-repeat;
  background-position: top 15px right 15px;

  &:hover {
    border: 1px solid @special_grey;
  }

  &:focus {
    border: 2px solid @special_dark-grey;
  }

  &:invalid {
    border: 2px solid @status_error;
  }

  &--mail {
    // background-image: url("../../img/svg/icon_email.svg");

    @media (min-width: @desktop-width) {
      margin-right: 78px;
    }
  }

  // &--tel {
  //   background-image: url("../../img/svg/phone.svg"); //изза паддингов неровно стоит
  // }

  &--textarea {
    padding: 9px 12px 0 15px;
    margin-left: 0;
    margin-bottom: 23px;

    @media (min-width: @desktop-width) {
      margin: 0 0 67px;
    }
  }
}

.form__checkbox {
  position: absolute;
  appearance: none;
}

.form__checkbox-btn {
  width: 30px;
  height: 30px;
  border: 1px solid @special_grey;
  margin-right: 16px;

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
    margin-right: 19px;
  }
}

.form__checkbox:checked + .form__checkbox-btn {
  background: url("../img/checkboxactive.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.form__checkbox:disabled + .form__checkbox-btn,
.form__checkbox:disabled ~ .form__name {
  opacity: 0.3;
}

.form__icon {
  position: absolute;
  top: 16px;
  right: 17px;
}

// .form__icon path:hover {
//   stroke: red;
// }

.form__button {
  font-family: @font-Oswald;
  font-size: 16px;
  margin-bottom: 20px;
  min-width: 280px;
  width: fit-content;
  padding: 8px 44px;

  @media (min-width: @tablet-width) {
    padding: 13px 64px;
    margin-right: 60px;
    font-size: 20px;
  }

  @media (min-width: @desktop-width) {
    min-width: 46%;
    margin-right: 80px;
  }
}

.form__required {
  font-family: @font-Arial;
  font-size: 14px;
  line-height: 1.1;
  color: @basic_black;
  display: block;
  text-align: center;

  @media (min-width: @tablet-width) {
    display: inline;
  }
}
