.how-it-works__wrapper {
  margin-bottom: 49px;
}

.how-it-works__title {
  margin-bottom: 40px;
  text-align: left;
}

.how-it-works__list {
  padding: 0;
  margin: 0;
  list-style: none;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.how-it-works__item {
  position: relative;
  margin-bottom: 20px;
  // background-repeat: no-repeat; еслм вынести сюда не работает

  &:last-child {
    margin-bottom: 0;
  }

  &--one {
    @media (min-width: @tablet-width) {
      background: url("../../img/svg/1.svg");
      background-repeat: no-repeat;
      background-position: right;
    }
  }

  &--two {
    @media (min-width: @tablet-width) {
      background: url("../../img/svg/2.svg");
      background-repeat: no-repeat;
      background-position: right;
    }
  }

  &--three {
    @media (min-width: @tablet-width) {
      background: url("../../img/svg/3.svg");
      background-repeat: no-repeat;
      background-position: right;
    }
  }

  &--four {
    @media (min-width: @tablet-width) {
      background: url("../../img/svg/4.svg");
      background-repeat: no-repeat;
      background-position: right;
    }
  }
}

.how-it-works__text {
  font-family: @font-Arial;
  color: @special_dark-grey;
  margin-left: 80px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: @basic_green;
  }

  @media (min-width: @tablet-width) {
    font-size: 16px;
  }

  @media (min-width: @tablet-width) {
    font-size: 16px;
  }
}
