.logo {
  text-decoration: none;
  display: flex;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: @tablet-width) {
    gap: 10px;
  }
}

.logo__image {
  @media (min-width: @tablet-width) {
    width: 60px;
  }

  @media (min-width: @desktop-width) {
    width: 76px;
  }
}

.logo__text {
  margin-right: auto;
  margin-left: auto;

  @media (min-width: @tablet-width) {
    margin-left: 0;
    width: 110px;
  }

  @media (min-width: @tablet-width) {
    width: 120px;
  }
}
