.logo {
  text-decoration: none;
  display: flex;
  // min-width: 190px;
  // justify-content: space-between;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: @tablet-width) {
    // justify-content: flex-start;
    gap: 10px;
  }
}

.logo__text {
  margin-right: auto;
  margin-left: auto;

  @media (min-width: @tablet-width) {
    margin-left: 0;
  }
}
