.main-nav {
  position: relative;

  @media (min-width: @tablet-width) {
    margin-left: 90px;
  }

  @media (min-width: @desktop-width) {
    margin-left: auto;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 70px;
  height: 50px;
  display: block;
  background-color: @basic_white;
  cursor: pointer;
  border: none;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 17px;
  width: 36px;
  height: 1.5px;
  background-color: @basic_black;
  box-shadow: 0 8px 0 0 @basic_black, 0 16px 0 0 @basic_black;
}

@media (max-width: @mobile-width-only) {
  .main-nav--closed .main-nav__item {
    display: none;
  }
}

.main-nav--closed .main-nav__item--current {
  text-align: center;
  padding-left: 70px;
  padding-right: 70px;
}


.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 24px;
    left: 18px;
    width: 30px;
    height: 2px;
    background-color: @basic_black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

//.main-nav--opened .main-nav__wrapper {
//  position: absolute;
//  top: 66px;
//  right: 0;
//  z-index: 10;
//  min-height: 220px;
//  background-color: @basic_white;
//}

.main-nav__wrapper {
  display: flex;
  flex-direction: column;
}

.main-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: @tablet-width) {
    display: flex;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
  }
}

.main-nav__item {
  text-align: center;

  @media (min-width: @tablet-width) {
    border: none;
    font-size: 18px;
    margin-right: 30px;
  }
}

.main-nav__link {
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
  color: @basic_black;
  position: relative;
  display: block;
  text-decoration: none;
  padding: 22px 20px;
  padding-bottom: 13px;
  border-top: 1px solid @special_grey-8;

  @media (min-width: @tablet-width) {
    border: none;
  }
}
