.main-nav__item {
  border-top: 1px solid @grey-border;
  text-decoration: none;
}

.main-nav__link {
  font-family: @font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: @basic_black;
}

