.offer-list {
  padding: 0;
  margin: 0;
  list-style: none;

  @media (min-width: @desktop-width) {
    display: flex;
    column-gap: 80px;
  }
}

.offer-list__type {
  @media (min-width: @desktop-width) {
    width: 50%; //тут немного не поняла, должно быть 50% или 100%, но сейчас одинаковые по ширине блоки
  }
}

.offer-list__loss {
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    margin-bottom: 30px;
  }
}

.offer-list__wrapper {
  background-color: @basic_grey;
  padding: 20px;
}

.offer-list__title {
  font-weight: normal;
  font-size: 24px;
  line-height: 1.5;
  text-transform: uppercase;
  color: @basic_black;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 1;
  }
}

.offer-list__text {
  font-family: @font-Arial;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 1.5;
  }
}

.offer-list__link {
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  color: @basic_black;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 1.5;
  }
}
