.offer-list__wrapper {
  background-color: @basic_grey;
}

.offer-list__title {
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.offer-list__text {
  font-family: @font-Arial;
}

.offer-list__link {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @basic_black;
}
