.page-footer {
  background-color: @basic_grey;

  @media (min-width: @desktop-width) {
    padding: 0 110px;
  }
}

.page-footer__wrapper {
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    padding: 40px 30px;
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-footer__logo {
  justify-content: center;
  padding-top: 31px;
  padding-bottom: 39px;
  border-bottom: 1px solid @special_grey-6;
}
