.page-footer {
  background-color: @basic_grey;

  @media (min-width: @desktop-width) {
    padding: 0 110px;
  }
}

.page-footer__inner {
  display: flex;
  flex-direction: column;
  padding: 39px 0 22px;

  @media (min-width: @tablet-width) {
    padding: 58px 0 55px;
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-footer__logo {
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}
