.promo {
  background-color: @basic_green;
}

.promo__title {
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: @basic_white;
}

.promo__slogan {
  font-size: 14px;
  line-height: 14px;
  color: @basic_white;
  text-transform: uppercase;
}
