.social {
  padding: 20px 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid @special_grey-6;
  border-bottom: 1px solid @special_grey-6;

  @media (min-width: @tablet-width) {
    border: none;
    padding: 0;
  }
}

.social__item:not(:last-child) {
  margin-right: 35px;
}

.social__img path:hover {
  fill: @basic_green;
}

.social__img path:active {
  opacity: 30%;
}

.social__img {
  &--vk { //лежат неправильно
    @media (min-width: @tablet-width) {
      width: 30px;
      height: 22px;
    }
  }

  &--inst {
    @media (min-width: @tablet-width) {
      width: 23px;
      height: 23px;
    }
  }

  &--face {
    @media (min-width: @tablet-width) {
      width: 28px;
      height: 33px;
    }
  }
}
